@{
    ViewData["Title"] = "";
}
@using Products_N_Categories.Models
@model NewProductCategoryModel

<div class="text-center">
    <h1 class="display-4">@ViewBag.oneCategory.Name</h1>
    
 <div class="row">

<div class="col-md">
<h1>Categories</h1>
@foreach(var a in @ViewBag.oneCategory.Associations){
                <option value="">@a.Product.Name</option>
            }
</div>
<div class="col-md">
    <h1>Add Category: </h1>
    <form action="/addProducttocatg/@ViewBag.oneCategory.CategoryId" method="post"> 
        <select name="ProductId" id="">
            @foreach(Product a in @ViewBag.currentProduct){
                <option value="@a.ProductId">@a.Name</option>
            }
        </select>   
    
    <input type="submit" value="Add!">
    </form>
</div>

</div>
 </div>

</div>