@{
    ViewData["Title"] = "";
}
@using Products_N_Categories.Models
@model NewProductCategoryModel

<div class="text-center">
    <h1 class="display-4">@ViewBag.oneProduct.Name</h1>
    
 <div class="row">

<div class="col-md">
<h1>Categories</h1>
@foreach(var a in @ViewBag.oneProduct.AssociationCategory){
                <option value="">@a.Category.Name</option>
            }
</div>
<div class="col-md">
    <h1>Add Category: </h1>
    <form action="/addCategoryToProduct/@ViewBag.oneProduct.ProductId" method="post"> 
        <select name="CategoryId" id="">
            @foreach(Category a in ViewBag.currentCategories){
                <option value="@a.CategoryId">@a.Name</option>
            }
        </select>   
    
    <input type="submit" value="Add!">
    </form>
</div>

</div>
 </div>

</div>